.container {
	input.ng-touched {
		&.ng-invalid {
			background: pink;
		}
		&.ng-valid {
			background: lightgreen;
		}
	}
	.error {
		color: red;
		position: absolute;
	}

	button[type="submit"] {
		margin-top: 5px;
	}
}